<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body style="background-color: #FFF;">

    <div class="header">Flatiron Feelings Forever</div>
    <h3 style="text-align:center; color:white;">soul-color:#FFF</h3>

    <div id="message-stream">
      <% @messages.reverse.each do |message| %>

      <div class="message">
        <!-- <a href="" class="close"></a> -->
        <div class="from"><%= message.from %></div>
        <div class="content"><%= message.content %></div>
        <div class="time"><%= message.created_at %></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
