<html>
  <head>
    <style>
      body {
        background-color: black !important;
      }

      #soul {
        text-align: center !important; 
        color: white !important;
      }

      .header {
        background-color: black !important;
      }
    </style>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>

    <div class="header">Flatiron Feelings Forever</div>
    <h3 id="soul">soul-color:#FFF</h3>

    <div id="message-stream">
      <% @messages.reverse.each do |message| %>

      <div class="message">
        <!-- <a href="" class="close"></a> -->
        <div class="from"><%= message.from %></div>
        <div class="content"><%= message.content %></div>
        <div class="time"><%= message.created_at %></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
